h1, p, a {
  text-align: center;
}

.features .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.features h2 {
  font-weight: normal;
}
.features .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.feat-image {
  box-shadow: 0px 0px 12px #888;
}

.htlogo {
  margin-bottom: -20px;
  border-radius: 50px;
  box-shadow: 0px 0px 12px #888;
}
