<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/dashboard">Habit Trainer</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right" ng-submit='signin()'>
        <div class="form-group">
          <input type="text" placeholder="Email" class="form-control" ng-model='user.username' required>
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control" ng-model='user.password' required>
        </div>
        <button type="submit" class="btn btn-success">Log in</button>
        <button class="btn btn-info" ng-click="authenticate('google')">Sign in with Google</button>
        <span ng-if="alert" class="alert alert-danger">
          <strong>Invalid login:</strong> {{alert}}
        </span>
      </form>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container"> 
    <p><img src="app/assets/htlogo.png" alt="logo" class="htlogo"></p>       
    <h1>Habit Trainer</h1>
    <p>Visual Goal Tracking App</p>
    <p><a class="btn btn-primary btn-lg" href="#/signup" role="button">Create Account</a></p>
  </div>
</div>

<div class="container features">
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle feat-image" src="app/assets/dashboard.jpg" alt="dashboard image" width="200" height="200">
      <h2>Reach Your Goals</h2>
      <p>It's easy to learn new habits with Habit Trainer. Schedule, complete, and track your goals. Habit Trainer provides the tools you need to succeed.</p>
    </div>
    <div class="col-lg-4">
      <img class="img-circle feat-image" src="app/assets/score.jpg" alt="habit score image" width="200" height="200">
      <h2>Stay on Track</h2>
      <p>Go on a winning streak! Each task you complete increases your score. Habit Trainer will send reminders to help keep you on track.</p>
    </div>
    <div class="col-lg-4">
      <img class="img-circle feat-image" src="app/assets/mobile.jpg" alt="Generic placeholder image" width="200" height="200">
      <h2>Goes Where You Go</h2>
      <p>Download the Habit Trainer App and take it wherever you go. Get reminders right on your phone so you can complete your goals no matter where you are.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-4">
      <img class="img-circle feat-image tweeter" src="app/assets/TwitterLogo_white.png" alt="dashboard image" width="200" height="200">
      <h2>Tweets Your Status</h2>
      <p>Share your progress with friends! One click tweets your status to your Twitter account.</p>
    </div>
    <div class="col-lg-4">
      <img class="img-circle feat-image" src="app/assets/mail.png" alt="habit score image" width="200" height="200">
      <h2>Email Notification</h2>
      <p>Habit Trainer sends a weekly summary of your accomplishments to your email address.</p>
    </div>
    <div class="col-lg-2">
    </div>
  </div>
</div>
